
<form action="" method="post">
    <img src=<%= result.url %> id=<%= result.id %> alt="">
    <input type="text" name="gif_title" id="gif_title" placeholder="Title..." minlength="2" maxlength="100" required="true">
    <input type="text" name="gif_id" id="gif_id" hidden="ture" value="<%= result.id %>">
    <button type="submit"> Post</button>
</form>



