<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./partials/head.ejs"); %>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
  <main>
    <% if(currentUser){ %>
      <script>
        window.location.href = "/main";
      </script>
    <% } else{ %>
    <div>
      <h1>Please log in</h1>
        <form action="" method="POST">
          <div class="input-control">
            <input type="text" class="input-control-child" name="username" id="username" placeholder="username" />
          </div>
          <div class="input-control">
            <input type="password" class="input-control-child" name="password" id="password" placeholder="password"/>
          </div>
          <div class="input-control">
            <button type="submit" class="input-control-child form-btn">Log In</button>
          </div>
          <hr>
          <div class="md-input-control">
            <a class="input-control-child form-btn" href="/sign_up">Create new account</a>
          </div>
        </form>
    </div>
    <% } %>
  </main>
</body>
</html>